/* Webfont CSS setup for ChronoType by Caveras */

@font-face {
	font-family: "ChronoType";
	src: url("ChronoType.woff") format("woff"),
		url("ChronoType.otf") format("opentype"),
		url("ChronoType.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
