/* Webfont CSS setup for ChronoType by Caveras */

@font-face {
	font-family: "ChronoType";
	src: url("ChronoType.woff") format("woff"),
		url("ChronoType.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
